// HERO
.hero{
   height: 750px;
   margin-top: 70px;;
   background-color: $bgHero;
   position: relative;
   overflow: hidden;
   @include my-display-flex;
   // LYRICS
   .lyrics{
      margin: auto;
      text-align: center;
      h2{
         font-size: $titleh2BIG;
      }
      h3{
         font-size: $titleh3BIG;
      }
      .button{
         margin-top: $mediumMargin;
      }
   }
   // SHAPES
   .Background_shapes{
      > img{
         width: 100%;
      }
      > *{
         position: absolute;
      }
      .headSketch{
         z-index: 5;
         top: 55%;
         left: 25%;
      }
      .featherSketch{
         z-index: 5;
         top: 17%;
         right: 8%;
      }
      .dots{
         z-index: 4;
         top: 20%;
         left: 1%;
      }
      .pois{
         z-index: 4;
         top: 70%;
         right: 20%; 
      }
      .blueStain{
         z-index: 3;
         top: 25%;
         left: -3%;
      }
      .brushStrokes{
         z-index: 3;
         top: 67%;
         right: 5%;
      }
      .yellowStain{
         z-index: 3;
         top: 64%;
         right: 24%;
      }
      .drop{
         z-index: 2;
         height: 100%;
         top: 0;
         right: 5%;
      }
      .jumboDrop{
         z-index: 2;
         height: 100%;
         top: 0;
         left: 0;
      }
   }
   // PICTURES
   .images{
      .temperaDraw{
         z-index: 6;
         position: absolute;    
         top: 17%;
         left: 13%;
         img{
            width: 100%;
         }
      }
      .spaceMonkey{
         z-index: 7;
         position: absolute;    
         top: -50%;
         left: 40%;
         img{
            width: 100%;
         }
      }
      .portrait{
         z-index: 6;
         position: absolute;    
         top: 30%;
         right: 10%;
         img{
            width: 100%;
         }
      }
   }
}