@mixin my-display-flex {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
}
@font-face {
   font-family: rossela;
   
   src: url(../fonts/Rossela.ttf);
}
@font-face {
   font-family: giloryLight;
   src: url(../fonts/Gilroy-Light.ttf);
}
@font-face {
   font-family: giloryRegular;
   src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
   font-family: giloryMedium;
   src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
   font-family: gilorySemiBold;
   src: url(../fonts/Gilroy-SemiBold.ttf);
}
@font-face {
   font-family: giloryBold;
   src: url(../fonts/Gilroy-Bold.ttf);
}