*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   &:focus{
      outline: transparent; 
   }
}
body{
   font-family: gilory;
   font-weight: 300;
   font-size: $fontNormal;
   color: $textDark;
}
.container{
   width: 76%;
   margin: auto;
}
.mediumContainer{
   width: 68%;
   margin: auto;
}
.small_container{
   width: 60%;
   margin: auto;
}
.listInline{
   @include my-display-flex;
   list-style: none;
   align-items: center;
}