.courses{
   position: relative;
   overflow: hidden;
   .titles{
      text-align: center;
   }
   .ourCourses{
      @include my-display-flex;
      flex-wrap: wrap;
      margin-top: $largeMergin;
      .course{
         width: calc((100% / 4) - 20px);
         margin-bottom: $largeMergin;
         position: relative;
         &:not(:nth-child(4n+4)){
            margin-right: $medium-smallMargin;
         }
         &:hover img{
            transform: scale(1.1);
         }
         &:hover .info{
            border: 2px solid $orangeBtns;
            background-color: $white;
            position: absolute;
            left: 0;
            bottom:40px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2)
         }
         .image{
            overflow: hidden;
            img{
               width: 100%;
               transition: $picturesTransition;
            }
         }
        
         .info{
            width: 95%;
            padding:$mediumMargin;
            cursor: pointer;
            .price{
               font-size: $fontNormal;
               color: $orangeBtns;
               font-weight: 600;
            }
            .courseLink{
               margin: $smallMargin 0;
               a{
                  text-decoration: none;
                  font-size: $titleh4SMALL;
                  font-weight: 600;
                  color: $black;
                  &:hover{
                     color: $orangeBtns;  
                  }
               }
            }
            .details{
               @include my-display-flex;
               justify-content: space-between;  
               width: 90%;
               font-size: $fontSmall
            }
         }
      }
   }
   .button{
      text-align: center;
      i{
         vertical-align: middle;
         margin-left: $smallMargin;
      }
   }
   .Background_shapes{
      > *{
         position: absolute;
      }
      .drop{
         transform: rotate(-90deg);
         top: 7%;
         right: -10%;
         z-index: -10;
       }
       .bluedrop{
         top: 45%;
         left: -10%;
         z-index: -10;
       }
       .coursesshape{
         top: 25%;
         right: 0%;
         z-index: -5;
         img{
            width: 70%;
         }
       }
   }  
}