h2{
   font-family: rossela;
   font-weight: 100;
   color: $titlesblue;
}
h3{
   font-family: gilory;
   font-weight: 600;
}
h4{
   font-family: gilory; 
   font-weight: 700;
}
p{
   font-family: gilory;
   font-weight: 300;
   color: $textLight;

}