// COLORS PALETTE
$titlesblue: #6AC5F1;
$hoverbluebtns: #6ec6ef;
$orangeBtns: #EF6F31;
$transpOrange: rgba(237, 111, 59, 0.1);
$white: #ffffff;
$black: #000000;
$textDark:#333333;
$textLight: #696969;
$iconsDarkGray: #797979;
$lightGray: #cecece;
$bgHero: #fbf9f6;

// FONTSIZES
$fontSmall: 16px;
$fontNormal: 18px;
$mediumIcons: 18px;
$smallIcons: 10px;
$titleh2BIG: 65px;
$titleh3BIG: 40px;
$titlesection3: 50px;
$titleh4SMALL: 22px;
$h2Medium: 45px;
$h3Medium: 35px;

//MARGINS-PADDINGS
$smallMargin: 15px;
$medium-smallMargin: 20px;
$mediumMargin: 30px;
$largeMergin: 50px;
$paddingSection: 80px;
$largePadding: 200px;
//TRANSITIONS
$normalTransition: all 0.3s;
$picturesTransition: all 2s;