// COLORS PALETTE
$white: #ffffff;
$bayOfMany: #224184;
$silver: #bcbcbc;
$coldGray: #1b1b1b;
$tulipTree: #efab43;
$boulder: #797979;
$cerulean: #029fcc;
$thunderbird: #d71f18;
$malibu: #69a0fd;
$walnut: #784619;
$pickledBluewood: #374a5e;
$hintOfRed: #f4f0ef;
$tussock: #cc9f4c;
$towerGray: #a3b8be;
$matrix: #a65d50;
$vibrantTussok: #c2944f;
$mutedDustyGray: #9a9898;
$darkVibrantBayOfMany: #22437d;
$darkMutedSmaltBlue: #4f7f85;
$lightVibrantIceCold: #b1e4f4;
// FONTSIZES
$fontNormal: 16px;
$mediumIcons: 18px;
$smallIcons: 10px